configuration {
  display-drun: "Apps: ";
  drun-display-format: "{icon} {name}";
  font: "JetBrainsMono Nerd Font Medium 15";
  modi: "drun";
  
  show-icons: true;
  icon-theme: "Papirus";
  kb-row-up: "Control+k";
  kb-row-down: "Control+j";
  kb-accept-entry: "Control+Return,KP_Enter";
  kb-remove-to-eol: "Control+Shift+k";
  kb-accept-custom: "Shift+Return";
  kb-accept-alt: "Return";
}

@theme "theme.rasi"
