#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    address: "127.0.0.1:6600",
    password: None,
    theme: Some("default"),
    cache_dir: Some("~/.cache/rmpc/"),
    on_song_change: None,
    volume_step: 1,
    max_fps: 30,
    scrolloff: 2,
    wrap_navigation: true,
    enable_mouse: true,
    enable_config_hot_reload: true,
    status_update_interval_ms: 1000,
    select_current_song_on_change: false,
    album_art: (
        method: Auto,
        max_size_px: (width: 700, height: 700),
        disabled_protocols: ["http://", "https://"],
        vertical_align: Center,
        horizontal_align: Center,
    ),
    keybinds: (
        global: {
            ":":       CommandMode,
            "q":       Quit,
            "~":       ShowHelp,
            "<Tab>":   NextTab,
            "<S-Tab>": PreviousTab,
            "L":       NextTab,
            "H":       PreviousTab,
            "1":       SwitchToTab("Queue"),
            "2":       SwitchToTab("Album Artists"),
            "3":       SwitchToTab("Artists"),
            "4":       SwitchToTab("Directories"),
            "5":       SwitchToTab("Search"),
            "p":       TogglePause,
            "<Space>": TogglePause,
            "s":       Stop,
            ">":       NextTrack,
            "<":       PreviousTrack,
            ".":       VolumeUp,
            ",":       VolumeDown,
            "<Up>":    VolumeUp,
            "<Down>":  VolumeDown,
            "f":       SeekForward,
            "b":       SeekBack,
            "x":       ToggleRandom,
            "z":       ToggleRepeat,
            "c":       ToggleSingle,
            "|":       ToggleConsume,
            "U":       Update,
            "I":       ShowCurrentSongInfo,
            "<C-o>":   ShowOutputs,
        },
        navigation: {
            "k":       Up,
            "j":       Down,
            "-":       Left,
            "l":       Right,
            "h":       Left,
            "<C-k>":   PaneUp,
            "<C-j>":   PaneDown,
            "<C-h>":   PaneLeft,
            "<C-l>":   PaneRight,
            "<C-u>":   UpHalf,
            "<C-d>":   DownHalf,
            "g":       Top,
            "G":       Bottom,
            "V":       Select,
            "<C-v>":   InvertSelection,
            "<CR>":    Confirm,
            "a":       Add,
            "o":       Add,
            "A":       AddAll,
            "O":       AddAll,
            "r":       Rename,
            "D":       Delete,
            "J":       MoveDown,
            "K":       MoveUp,
            "/":       EnterSearch,
            "n":       NextResult,
            "N":       PreviousResult,
            "i":       FocusInput,
            "<C-c>":   Close,
            "<Esc>":   Close,
        },
        queue: {
            "<CR>":    Play,
            "d":       Delete,
            "D":       DeleteAll,
            "a":       AddToPlaylist,
            "<C-s>":   Save,
            "I":       ShowInfo,
            "C":       JumpToCurrent,
        },
    ),
    search: (
        case_sensitive: false,
        mode: Contains,
        tags: [
            (value: "any",         label: "Any Tag"),
            (value: "artist",      label: "Artist"),
            (value: "album",       label: "Album"),
            (value: "albumartist", label: "Album Artist"),
            (value: "title",       label: "Title"),
            (value: "filename",    label: "Filename"),
            (value: "genre",       label: "Genre"),
        ],
    ),
    tabs: [
        (name: "Queue",         border_type: None, pane: Pane(Queue)),
        (name: "Album Artists", border_type: None, pane: Pane(AlbumArtists)),
        (name: "Artists",       border_type: None, pane: Pane(Artists)),
        (name: "Directories",   border_type: None, pane: Pane(Directories)),
        (name: "Search",        border_type: None, pane: Pane(Search)),
    ],
)
